# Laravel / TALL Stack .dockerignore

.env
.env.*
node_modules
vendor
storage
public/storage
bootstrap/cache
*.log
*.sqlite
*.pid
*.seed
*.bak
*.tmp
.idea/
.vscode/
.DS_Store
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
test-results/
coverage/
dist/
build/
docker-compose.yml
.docker/
.git
.gitignore
